{:kotoba.app/id "cloud.itonami.isic-2610", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigte7d4umtjyxlxfxylfwbtfr6fx5pl7asucolpw26bgbe4imxjjq", :kotoba.app/embed-url "ipfs://bafkreigte7d4umtjyxlxfxylfwbtfr6fx5pl7asucolpw26bgbe4imxjjq", :published {:archive "https://kotobase.net/ipfs/bafkreigte7d4umtjyxlxfxylfwbtfr6fx5pl7asucolpw26bgbe4imxjjq", :size 75348, :put-status 201, :get-status 200, :at "2026-08-15T13:41:54.218Z"}}
